    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}

    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta property="og:title" content="{{ site.name }}" /> <!-- тайтл в метатегагх обязателен и на главной тоже, твиттер это поле подставляет в заголовок твитта -->
    <meta property="twitter:title" content="{{ site.name }}" /> <!-- тайтл в метатегагх обязателен и на главной тоже, твиттер это поле подставляет в заголовок твитта -->
    {% endif %}

<!-- Все ниже я добавил, для теста -->

    <meta name="twitter:site" content="{{ twitter-my-neme }}" />

    {% if page.image %}
      <meta name="twitter:card" content="summary_large_image" /> <!-- "summary_large_image" - по правилам твиттера большое фото должно быть уникальным (ширина 506px большого фото в идеале, можно больше). Если фото повторяется в несколькоих местах на сайте нужно использовать маленькое 120х120px фото content="summary" -->
      <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
      <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta name="twitter:card" content="summary" />
      <meta property="og:image" content="{{ site.url }}/images/social-posts-photo-fb-tw-800x600.png" />
      <meta name="twitter:image" content="{{ site.url }}/images/social-posts-photo-twitter-120x120.png">
    {% endif %}

