    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

<!-- Все ниже я добавил, для теста -->

    {% if page.image %}
      <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
      <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <!-- Если в посте нету фоток, будет подставлятся та которую я пропишу, в данном варианте я захотел подставлять логотип.
           Отключил, потмоу что если в логотипе фотка .svg то при постинге в фейсбук он говорит ошибка фото
           нужно или фотку сделать на .svg, или добавить отдельно фотки для моц сетей.
      <meta property="og:image" content="{{ site.avatar }}" />
      <meta name="twitter:image:src" content="{{ site.avatar }}">
      -->
      <meta property="og:image" content="{{ site.url }}/images/photo-for-posts-fb-tw-800x600.png" />
      <meta name="twitter:image:src" content="{{ site.url }}/images/photo-for-posts-fb-tw-800x600.png">
    {% endif %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vadymvolos" />
